.header-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.label-title {
    padding: 15px;
}

.footer {
    background: #ffffff;
    padding: 2px;
    text-align: center;
}

.listCustom {
    padding: 0px;

}