<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Asset Overview</ion-title>
      <ion-buttons slot="primary">
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="ios-star-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary">
          <ion-icon slot="icon-only" name="md-more"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list class="listCustom">
    <ion-item color="primary">
        <div class="header-title">
            <ion-label class="label-title" color="secondary">
                <h2>{{crypto?.name}}</h2>
                <h3>{{crypto?.shortCode}}</h3>
            </ion-label>
        </div>
    </ion-item>
    <ion-item color="primary">
      <ion-label color="secondary">Price Per unit</ion-label>
      <ion-note color="secondary" slot="end">{{crypto?.pricing.price}} {{crypto?.pricing.currency}}</ion-note>
    </ion-item>
    <ion-item color="primary">
      <ion-label color="secondary">Total Units</ion-label>
      <ion-note color="secondary" slot="end">{{unit}}</ion-note>
    </ion-item>
    <ion-item color="primary">
      <ion-label color="secondary">Total Amount</ion-label>
      <ion-note color="secondary" slot="end">{{totalAmount}} {{crypto?.pricing.currency}}</ion-note>
    </ion-item>
    <ion-list-header>
        <ion-label>About</ion-label>
    </ion-list-header>
    <ion-item lines="none">
        {{crypto?.description}}
    </ion-item>
    <ion-item>
      <ion-label>News</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Statistics</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Positions</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>History</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div class="footer">
    <ion-button shape="round" color="danger" fill="outline" size="medium">SELL</ion-button>
    <ion-button shape="round" color="success" fill="outline" size="medium" (click)="presentModal()">BUY</ion-button>
  </div>
</ion-footer>
